
src/.vs/Faster.Ioc.Zero/v16/.suo
src/.vs/Faster.Ioc.Zero/v16/.suo
*.testlog
src/.vs/Faster.Ioc.Zero/v17/.suo
src/.vs/Faster.Ioc.Zero/v16/.suo
*.pdb
*.dll
*.cache
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/ref/Faster.Ioc.Zero.Benchmark.dll
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.pdb
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.genruntimeconfig.cache
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.GeneratedMSBuildEditorConfig.editorconfig
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.dll
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.csproj.FileListAbsolute.txt
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.csproj.CoreCompileInputs.cache
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.csproj.CopyComplete
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.csproj.AssemblyReference.cache
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.assets.cache
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.AssemblyInfoInputs.cache
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/Faster.Ioc.Zero.Benchmark.AssemblyInfo.cs
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/apphost.exe
src/Faster.Ioc.Zero.Benchmark/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/Faster.Ioc.Zero.Benchmark/obj/project.assets.json
src/Faster.Ioc.Zero.Benchmark/obj/Faster.Ioc.Zero.Benchmark.csproj.nuget.g.targets
src/Faster.Ioc.Zero.Benchmark/obj/Faster.Ioc.Zero.Benchmark.csproj.nuget.g.props
src/Faster.Ioc.Zero.Benchmark/obj/Faster.Ioc.Zero.Benchmark.csproj.nuget.dgspec.json
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/ref/Faster.Ioc.Zero.Benchmark.dll
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.pdb
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.genruntimeconfig.cache
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.GeneratedMSBuildEditorConfig.editorconfig
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.dll
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.csproj.FileListAbsolute.txt
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.csproj.CoreCompileInputs.cache
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.csproj.CopyComplete
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.csproj.AssemblyReference.cache
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.assets.cache
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.AssemblyInfoInputs.cache
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/Faster.Ioc.Zero.Benchmark.AssemblyInfo.cs
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/apphost.exe
src/Faster.Ioc.Zero.Benchmark/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/.vs/Faster.Ioc.Zero/v17/TestStore/0/testlog.manifest
*.v2
src/Faster.Ioc.Zero.SourceGenerator/.vs/Faster.Ioc.Zero/DesignTimeBuild/.dtbcache.v2
src/Faster.Ioc.Zero.SourceGenerator/.vs/Faster.Ioc.Zero/v16/.suo
src/Faster.Ioc.Zero.SourceGenerator/.vs/Faster.Ioc.Zero/v16/TestStore/0/000.testlog
src/Faster.Ioc.Zero.SourceGenerator/.vs/Faster.Ioc.Zero/v16/TestStore/0/testlog.manifest
